
/* 
Template name : Kindness - Nonprofit, Crowdfunding & Charity HTML5 Template 
Author : LegendTheme
*/

/* ==== Table of contents ====
	0.0 - General Styles
	1.0 - UI Elements
	2.0  - Navigation
	3.0  - Sliders
	4.0  - Features
	5.0  - Special Cause
	6.0  - Causes
	7.0  - Donation
	8.0  - Volunteers
	9.0  - CountDown
	10.0 - Event
	11.0 - Blog Home
	12.0 - Contact Us
	13.0 - Footer
	14.0 - Blog Page
	15.0 - Causes Page
	16.0 - About Page
	17.0 - Contact Us Page
	
 =============================*/
 
/* import google font */ 
@import "https://fonts.googleapis.com/css?family=Raleway:400,700,800,900,500|Lato:400,700,900";

 
/* 0.0 - General Styles */

p,
a,
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
a,
a:hover,
a:focus,
a:active,
button,
input,
textarea,
select,
blockquote {
  border: none;
  box-shadow: none;
  text-decoration: none;
  outline: 0;
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 0.04);
  overflow-x: hidden;
  position: relative;
  margin: 0 0;
}
/* Typrography */
h1 {
  line-height: inherit;
}
h2 {
  font-size: 24px;
  line-height: 24px;
}
h3 {
  font-size: 18px;
  line-height: 18px;
}
h4 {
  font-size: 16px;
  line-height: 16px;
}
h5 {
  font-size: 14px;
  line-height: 14px;
}
h6 {
  font-size: 13px;
  line-height: 13px;
}
p {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4a4a4a;
}
.nivo-activator {
  display: block;
}
/* 1.0 - UI Elements */
/* Buttons */
.btn {
  display: inline-block;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  transition: all 0.2s ease-in;
}
.btn.btn-secondary {
  background: #0aaaa0;
  color: #ffffff;
  overflow: hidden;
}
.btn.btn-secondary:hover {
  background: #444;
  color: #ffffff;
}
.btn.btn-solid {
  position: relative;
  background: #0aaaa0;
  color: #ffffff;
  overflow: hidden;
}
.btn.btn-solid i,
.btn.btn-solid span {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.btn.btn-solid:hover{
  background:#444444;
}
.btn.btn-min {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 32px;
}
.btn.btn-big {
  height: 45px;
  padding: 0 25px;
  line-height: 45px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.btn.btn-big i {
  margin-right: 12px;
}

.btn.btn-ms {
  height: 35px;
  padding: 0 25px;
  line-height: 35px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.btn.btn-ms i {
  margin-right: 12px;
}

.btns-wrapper {
  display: inline-block;
}


/* header */
header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  z-index: 9999;
}
/* Search Bar */
#search-bar {
  position: relative;
  display: none;
  width: 100%;
  background: #fafafa;
  z-index: 9999;
}
#search-bar .container {
  position: relative;
}
#search-bar input {
  background: none;
  height: 55px;
  width: 100%;
  padding-right: 55px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgba(56, 56, 56, 0.85);
}
#search-bar i {
  text-align: center;
}
#search-bar #search-close {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 55px;
  height: 55px;
  width: 55px;
  background: none;
  cursor: pointer;
  color: #0aaaa0;
}
#search-bar.on {
  display: block;
}
/* LightBox - Nivo Light Box*/
.nivo-lightbox-overlay {
  background: rgba(0, 0, 0, 0.65);
}
.nivo-lightbox-overlay .nivo-lightbox-wrap img {
  padding: 10px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.nivo-lightbox-overlay .nivo-lightbox-nav {
  text-indent: -9999px;
  top: 25%;
}
.nivo-lightbox-overlay .nivo-lightbox-nav.nivo-lightbox-prev {
  height: 50%;
  width: 10%;
  padding-left: 20px;
  background: url(../img/icons/lightbox-arrow-left.png) center center no-repeat;
}
.nivo-lightbox-overlay .nivo-lightbox-nav.nivo-lightbox-next {
  height: 50%;
  width: 10%;
  padding-right: 20px;
  background: url(../img/icons/lightbox-arrow-right.png) center center no-repeat;
}
.nivo-lightbox-overlay .nivo-lightbox-nav.nivo-lightbox-prev,
.nivo-lightbox-overlay .nivo-lightbox-nav.nivo-lightbox-next {
  opacity: .6;
  transition: all 0.3s ease-out;
}
.nivo-lightbox-overlay .nivo-lightbox-nav.nivo-lightbox-prev:hover,
.nivo-lightbox-overlay .nivo-lightbox-nav.nivo-lightbox-next:hover {
  opacity: 1;
}
.nivo-lightbox-overlay .nivo-lightbox-close {
  text-indent: -9999px;
  background: url(../img/icons/lightbox-close.png) center center no-repeat;
  width: 65px;
  height: 65px;
  opacity: .6;
  transition: all 0.3s ease-out;
}
.nivo-lightbox-overlay .nivo-lightbox-close:hover {
  opacity: 1;
}
/* Section Name */
.section-name {
  text-align: center;
}
.section-name h2 {
  text-transform: uppercase;
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
}
.section-name h5 {
  display: inline-block;
  position: relative;
  z-index: 8888;
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
}
.section-name .short-text {
  display: inline-block;
  position: relative;
}
.section-name .short-text .sep {
  display: inline-block;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 22px;
  background: #0aaaa0;
  z-index: 1;
}
.section-name .short-text .sep.l {
  left: -25px;
}
.section-name .short-text .sep.r {
  right: -25px;
}
.section-name.parallax h2,
.section-name.parallax i,
.section-name.parallax h4 {
  color: #fff;
}
.section-name.parallax h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
/* Progress Bars */
.progress-bar-wrapper {
  width: 100%;
  height: 100%;
}
.progress-bar-wrapper .progress-bar-outer {
  position: relative;
}
.progress-bar-wrapper .progress-bar-outer .progress-bar-inner {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.progress-bar-wrapper .progress-bar-outer .progress-bar-inner .empty-bar {
  position: relative;
  width: 100%;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.5);
}
.progress-bar-wrapper .progress-bar-outer .progress-bar-inner .full-bar {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25px;
  background: #0aaaa0;
}
.progress-bar-wrapper .progress-bar-outer .procent {
  opacity: 0;
  transition: opacity .5s ease;
  position: absolute;
  top: -35px;
  right: 0;
  width: 35px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  background: #0aaaa0;
}
.progress-bar-wrapper .progress-bar-outer .procent:after {
  content: "";
  position: absolute;
  bottom: -9px;
  right: 1.5px;
  display: block;
  width: 0;
  height: 0;
  border-top-right-radius: 1px;
  border-left: 0px solid transparent;
  border-right: 14px solid transparent;
  border-top: 9px solid #0aaaa0;
}
.progress-bar-wrapper:hover .progress-bar-outer .procent {
  opacity: 1;
}
.progress-bar-wrapper.big .progress-bar-outer .value {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #fff;
}
.progress-bar-wrapper.big .progress-bar-outer .value.two {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.95);
}
.progress-bar-wrapper.big .progress-bar-outer .progress-bar-inner .empty-bar {
  height: 10px;
  background: rgba(255, 255, 255, 0.85);
}
.progress-bar-wrapper.big .progress-bar-outer .progress-bar-inner .full-bar {
  height: 10px;
  background: #0aaaa0;
}
.progress-bar-wrapper.min .progress-bar-outer .value {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #0aaaa0;
  padding-right: 5px;
}
.progress-bar-wrapper.min .progress-bar-outer .value.two {
  padding-left: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4a4a4a;
}
.progress-bar-wrapper.min .progress-bar-outer .progress-bar-inner .empty-bar {
  height: 6px;
  background: #ebebeb;
}
.progress-bar-wrapper.min .progress-bar-outer .progress-bar-inner .full-bar {
  height: 6px;
  background: #0aaaa0;
}
/*Content box */
.content-box {
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  transition: box-shadow 0.2s ease;
}
.content-box.no-bg,
.content-box.no-bg:hover {
  background: none;
  box-shadow: none;
}
.content-box .img-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}
.content-box .img-wrapper img {
  transition: all 0.3s ease;
  width: 100%;
  max-width: 100%;
  max-height: 70%;
}
.content-box .img-wrapper .overlay {
  z-index: 10;
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .2s ease;
  background: rgba(36, 40, 47, 0.65);
}
.content-box .img-wrapper .overlay .btn {
  position: absolute;
  transion: all .2s ease;
  top: 50%;
  left: 50%;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
  margin-top: -25.5px;
  margin-left: -75.5px;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.content-box .img-wrapper .overlay .btn i {
  margin-right: 10px;
}
.content-box .info-block {
  padding: 20px;
  text-align: center;
}
.content-box h4, .content-box h3 {
  color: #444;
  font-family: "Raleway",sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}
.content-box .foundings {
  margin: 20px 0 30px;
}
.content-box:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.content-box:hover .img-wrapper img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.content-box:hover .img-wrapper .overlay {
  opacity: 1;
}
.content-box:hover .img-wrapper .overlay .btn {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Parallax Maks*/
.parallax-mask {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 40, 47, 0.5);
  z-index: 1;
}
/* Page Banner */
.page-banner {
  position: relative;
  margin-top: 80px;
  height: 235px;
  padding-top: 91px;
  background: url(../img/bgs-top/img-1.jpg) center center no-repeat;
}
.page-banner .section-name {
  position: relative;
  z-index: 10;
}
.page-banner .section-name h2,
.page-banner .section-name h5 {
  color: #ffffff;
}
.page-banner .section-name h5 i {
  margin: 0 6px;
}
/* Home Form*/
.home-form {
  height: auto;
  background-color: rgba(255, 255, 255, 0.749);
  box-shadow: 0px -1px 25px 0px rgba(0, 0, 0, 0.27);
  padding: 32px 15px 15px;
}
.home-form .field {
  margin: 15px 0;
}
.home-form .field h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.home-form .field input,
.home-form .field select,
.home-form .field textarea {
  position: relative;
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgba(56, 56, 56, 0.85);
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.home-form .field input:active,
.home-form .field select:active,
.home-form .field textarea:active,
.home-form .field input:focus,
.home-form .field select:focus,
.home-form .field textarea:focus {
  box-shadow: 0px 0px 2px 0px rgba(74, 74, 74, 0.45);
}
.home-form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff url(../img/icons/select-arrow.png) right no-repeat;
}
.home-form .field textarea {
  height: 100px;
  padding: 15px;
}
@media screen and (max-width: 767px) {
  .home-form {
    width: 100%;
  }
}



.team-wrapper {
  background: #fff none repeat scroll 0 0;
  padding: 105px 0;
  position: relative;
}
.team-wrapper .section-name.one {
  padding-bottom: 88px;
}
.best-volunteer .socials {
    margin-top: -22px;
}
.socials {
    display: -moz-inline-stack;
    float: right;
    line-height: 42px;
    list-style: outside none none;
    padding-left: 0;
    padding-right: 10px;
    vertical-align: bottom;
}
.socials > li {
  display: inline;
}
.best-volunteer {
    float: left;
    width: 100%;
}
.voluntee-image > a {
    float: left;
    width: 100%;
}
.voluntee-image img {
    float: left;
    width: 100%;
}
.voluntee-image > img {
    float: left;
    width: 100%;
}
.best-volunteer .socials {
  margin-top: -20px;
  transform: scale(0.9);
  transition: all 0.6s ease 0s;
}
.best-volunteer:hover .socials {
  transform: scale(1);
}
.best-volunteer .socials li a {
    background: #303030 none repeat scroll 0 0;
}
.best-volunteer > span {
    float: left;
    font-size: 13px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    width: 100%;
}
.best-volunteer > h2 {
  color: #222;
  float: left;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.6px;
  padding-bottom: 7px;
  padding-top: 7px;
  width: 100%;
}
.best-volunteer > p {
    color: #666;
    float: left;
    width: 100%;
}
.best-volunteer .socials li a {
  background: #0aaaa0 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 19px;
  height: 37px;
  line-height: 38px;
  margin-left: 2px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 37px;
}
.best-volunteer .socials li a:hover {
  background: #444 none repeat scroll 0 0;
}
.best-volunteer > h2 a {
  color: #444;
  font-family: raleway;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.best-volunteer > h2 a:hover {
  color: #0aaaa0;
}
.best-volunteer span a {
  color: #0aaaa0;
  font-size: 15px;
  font-weight: 500;
}


.volunteers-wrapper.images-gallery-wrapper {
  background: #fff none repeat scroll 0 0;
}
.single-images-gl .nivo-trigger > img {
  width: 100%;
}
.volunteers-wrapper.images-gallery-wrapper .images-outer .images-inner .images {
  display: block;
  float: none;
  padding: 5px 0;
}
.images-gallery-wrapper .section-name.one {
  margin-bottom: 87px;
}
.volunteers-wrapper.images-gallery-wrapper .images-outer .images-inner .nivo-trigger span {
  background: rgba(36, 40, 47, 0.85) none repeat scroll 0 0;
  color: rgba(255, 255, 255, 0);
  display: inline-block;
  font-size: 28px;
  height: 100%;
  line-height: 243px;
  opacity: 0;
  outline: 1px solid #fff;
  outline-offset: -10px;
  position: absolute;
  transform: scale(0);
  transition: all 0.4s ease 0s;
  width: 100%;
}
.volunteers-wrapper.images-gallery-wrapper .images-outer .images-inner .nivo-trigger:hover span {
  color: #fff;
  opacity: 1;
  transform: scale(1);
}
.images-gallery-wrapper .col-sm-4.images-outer {
  padding: 0 2px;
}
.volunteers-wrapper .weneed-volunt.info-block {
  padding: 0 40px;
  text-align: center;
  position: relative;
  z-index: 99;
}
.volunteers-need-wrapper.volunteers-wrapper {
  position: relative;
}
.volunteers-need-wrapper.volunteers-wrapper {
  position: relative;
  background: rgba(0, 0, 0, 0) url("../img/need.vol.jpg") no-repeat fixed center top / cover ;
}

.volunteers-wrapper .weneed-volunt.info-block {
  background: #fff none repeat scroll 0 0;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  text-align: center;
  width: 65%;
  z-index: 99;
}
.volunteers-wrapper.images-gallery-wrapper {
  padding-top: 104px;
}



.blog-top-desc {
  text-align: left;
}
.blog-top-desc h4 {
  line-height: 20px;
}
.blog-date {
  background: #0aaaa0 none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  float: left;
  font-weight: 900;
  height: 70px;
  line-height: 23px;
  margin-bottom: 15px;
  margin-right: 20px;
  padding-top: 10px;
  text-align: center;
  width: 75px;
}
.blog-btm-desc {
  margin: 13px 0 0;
  text-align: left;
}
.blog-btm-desc p {
  margin-bottom: 13px;
}
.blog-btm-desc .readmore{
  text-transform: uppercase;
}
.blog-btm-desc .readmore i {
  margin-left: 0px;
  transition:.3s;
}
.blog-btm-desc .readmore:hover i{margin-left:5px;}
.blog-post-wrapper .section-name.one {
  margin-bottom: 92px;
}
.blog-top-desc strong {
  font-size: 12px;
  font-weight: 600;
  margin-right: 18px;
  text-transform: lowercase;
}
.blog-top-desc h4 {
  color: #444;
  font-family: "Raleway",sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}
.blog-btm-desc .fa {
  padding-left: 4px;
}
.about.widget .logo-wrap > a::first-letter {
  color: #fff;
  display: inline-block;
  font-size: 32px;
  font-weight: 900;
}

.navigation {
  position: relative;
}






/* Comment Form*/
form.comment-form .field {
  padding: 10px 0;
}
form.comment-form .field h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #444;
  margin-bottom: 10px;
}
form.comment-form .field input,
form.comment-form .field textarea {
  display: block;
  width: 100%;
  height: 45px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 15px;
  color: rgba(56, 56, 56, 0.85);
}
form.comment-form .field input:active,
form.comment-form .field textarea:active,
form.comment-form .field input:focus,
form.comment-form .field textarea:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 2px 0px rgba(74, 74, 74, 0.45);
}
form.comment-form .field textarea {
  height: 150px;
  padding: 15px ;
}
form.comment-form.altered .field {
  padding: 0 15px;
}
form.comment-form.altered .field:nth-child(4),
form.comment-form.altered .field:last-child {
  margin-top: 30px;
}
/* Comments*/
.comments-wrapper {
  margin-top: 35px;
}
.comments-wrapper .comments {
  margin-top: 15px;
}
.comments-wrapper .comments .comment {
  padding: 25px 0;
}
.comments-wrapper .comments .comment img {
  display: block;
  float: left;
  margin-right: 25px;
  margin-bottom: 5%;
}
.comments-wrapper .comments .comment .user {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #444;
}
.comments-wrapper .comments .comment .user span {
  margin-left: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.comments-wrapper .comments .comment p {
  color: #4a4a4a;
  margin: 10px 0 15px;
}
.comments-wrapper .comments .comment .btn {
  height: 25px;
  line-height: 25px;
}
.comments-wrapper .comments .comment.replay {
  padding-left: 105px;
}
@media screen and (max-width: 767px) {
  .comments-wrapper .comments .comment.replay {
    padding-left: 15px;
    background: rgba(0, 0, 0, 0.05);
  }
}
/* Widget Title*/
.widget-title h4 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #444;
  margin-bottom: 15px;
}
.widget-title .sep {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}
.widget-title .sep .sep-inside {
  position: absolute;
  left: 0;
  top: -1px;
  width: 75px;
  height: 3px;
  background: #0aaaa0;
}
/* Donation Form */
.donation-form .field {
  position: relative;
  padding-top: 30px;
}
.donation-form .field h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #444;
  margin-bottom: 10px;
}
.donation-form .field input,
.donation-form .field select {
  position: relative;
  display: block;
  width: 100%;
  height: 45px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 15px;
  color: rgba(56, 56, 56, 0.85);
}
.donation-form .field input:active,
.donation-form .field select:active,
.donation-form .field input:focus,
.donation-form .field select:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 2px 0px rgba(74, 74, 74, 0.45);
}
.donation-form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff url(../img/icons/select-arrow.png) right no-repeat;
}
.donation-form .field input[type="radio"] {
  display: none;
}
.donation-form .field .radio-inputs {
  margin-left: -20px;
}
.donation-form .field label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4a4a4a;
  margin-left: 20px;
}
.donation-form .field label span {
  top: 3px;
  margin-right: 5px;
}
.donation-form .field input[type="radio"] + label > span {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.donation-form .field input[type="radio"] + label > span:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}
.donation-form .field input[type="radio"]:checked + label > span:after {
  background: #0aaaa0;
}
.donation-form .field button {
  float: none !important;
}
/* Gallery Wrapper */
.gallery-wrapper .gallery-image {
  display: block;
  float: left;
  position: relative;
  padding: 3px;
  height: auto;
}
.gallery-wrapper .gallery-image.width-60 {
  width: 60%;
}
.gallery-wrapper .gallery-image.width-40 {
  width: 40%;
}
.gallery-wrapper .gallery-image.width-50 {
  width: 50%;
}
.gallery-wrapper .gallery-image.width-25 {
  width: 25%;
}
.gallery-wrapper .gallery-image.width-20 {
  width: 20%;
}
.gallery-wrapper .gallery-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.gallery-wrapper .image {
  position: relative;
}
.gallery-wrapper .image span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 40, 47, 0.85);
  font-size: 18px;
  color: rgba(255, 255, 255, 0);
  opacity: 0;
  -webkit-transition: opacity .3s ease, color .4s ease;
  -moz-transition: opacity .3s ease, color .4s ease;
  -o-transition: opacity .3s ease, color .4s ease;
  transition: opacity .3s ease, color .4s ease;
}
.gallery-wrapper .image span i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -9px;
}
.gallery-wrapper .image:hover span {
  opacity: 1;
  color: #fff;
}
.gallery-wrapper .image.two span i {
  width: 35px;
  height: 35px;
  background: #0aaaa0;
  text-align: center;
  margin-left: -17.5px;
  line-height: 35px;
  color: #ffffff;
  border-radius: 3px;
  transform: translateY(-95px);
  transition: all .5s ease;
}
.gallery-wrapper .image.two:hover span i {
  transform: translateY(0px);
}
@media screen and (max-width: 767px) {
  .gallery-wrapper .gallery-image.width-50 {
    width: 100%;
  }
  .gallery-wrapper .gallery-image.width-25 {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .gallery-wrapper .gallery-image.width-25,
  .gallery-wrapper .gallery-image.width-20,
  .gallery-wrapper .gallery-image.width-40,
  .gallery-wrapper .gallery-image.width-60 {
    width: 100%;
  }
}
/* Short Stats (date, location, etc...)*/
.short-stats h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.55);
  margin-right: 15px;
  display: inline-block;
  margin-top: 10px;
}
.short-stats h5:last-child {
  margin-right: 0;
}
.short-stats h5 i {
  margin-right: 5px;
  color: #0aaaa0;
}
/* 	2.0  - Navigation */
.logo-wrap > a {
  color: #0aaaa0;
  display: block;
  font-family: raleway;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: capitalize;
}
.logo-wrap > a::first-letter {
  color: #444;
  display: inline-block;
  font-size: 32px;
  font-weight: 900;
}
.navigation {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.navigation .row {
  position: relative;
}
.navigation .logo-wrap {
  padding: 17px 15px;
}
.navigation .menu-wrap {
  padding: 30px 0 0;
}
.navigation .menu-wrap .menu {
  float: right;
}
.navigation .menu-wrap .menu > li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  padding-bottom: 29px;
}
.navigation .menu-wrap .menu > li a, .navigation .menu-wrap .menu > li span {
  color: #444;
  cursor: pointer;
  display: block;
  font-family: "Raleway",sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease-out 0s;
}
.navigation .menu-wrap .menu > li a:hover,
.navigation .menu-wrap .menu > li span:hover {
  color: #0aaaa0;
}

.navigation .menu-wrap .menu > li.active a,
.navigation .menu-wrap .menu > li.active span {
  padding-bottom: 0;
  color: #0aaaa0;
  z-index: 5;
}
.navigation .menu-wrap .menu > li .submenu {
  background: #444 none repeat scroll 0 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
  display: none;
  left: 0;
  position: absolute;
  top: 50px;
  width: 245px;
  border-top: 2px solid #0aaaa0;
}
.navigation .menu-wrap .menu > li .submenu li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  border-left: 2px solid transparent;
  color: #fff;
  display: block;
  padding: 15px 10px;
  text-transform: capitalize;
}
.navigation .menu-wrap .menu > li .submenu li a:hover {
  color: #0aaaa0;
  padding-left: 16px;
}
.navigation #search-toggle, .navigation #menu-toggle {
  background: #0aaaa0 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 25px 0;
  text-align: center;
  transition: all 0.2s linear 0s;
  width: 43px;
}
.navigation #search-toggle:hover,
.navigation #menu-toggle:hover {
  background: #444;
}
.navigation #menu-toggle {
  display: none;
  margin-left: 20px;
}
.navigation.nav-scroll {
  height: 65px;
}
.navigation.nav-scroll .logo-wrap {
  padding: 9px 15px 15px;
}
.navigation.nav-scroll .menu-wrap {
  padding: 21px 0 0;
}
.navigation.nav-scroll .menu-wrap .menu > li {
  padding-bottom: 21px;
}
.navigation.nav-scroll .menu-wrap .menu > li .submenu {
  top: 44px;
}
.navigation.nav-scroll #search-toggle,
.navigation.nav-scroll #menu-toggle {
  margin: 17px 0;
}
.navigation.nav-scroll #menu-toggle {
  margin-left: 20px;
}
@media screen and (max-width: 991px) {
  .navigation.nav-scroll .menu-wrap {
    padding-top: 0;
  }
  .navigation.nav-scroll .menu-wrap .menu > li {
    padding-bottom: 0;
  }
  .navigation .menu-wrap {
    position: absolute;
    top: 100px;
    right: 15px;
    width: 210px;
    padding: 0;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    display: none;
  }
  .navigation .menu-wrap.open {
    display: block;
  }
  .navigation .menu-wrap .menu {
    padding-right: 0;
    float: none !important;
    margin-right: 0 !important;
  }
  .navigation .menu-wrap .menu > li {
    display: block;
    margin: 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(56, 56, 56, 0.25);
  }
  .navigation .menu-wrap .menu > li.active {
    padding-bottom: 0;
  }
  .navigation .menu-wrap .menu > li.active::before {
    display: none;
  }
  .navigation .menu-wrap .menu > li a,
  .navigation .menu-wrap .menu > li span {
    margin: 0;
    float: none;
    padding: 10px 15px;
  }
  .navigation .menu-wrap .menu > li .submenu {
    position: static;
    margin: 0;
    width: 210px;
  }
  .navigation #menu-toggle {
    display: block;
  }
}
/* 3.0 - Slider*/
.basic-slider {
    padding: 200px 0;
}
.slide-1 {
    background: rgba(0, 0, 0, 0) url("img/slider/slider-1.jpg") repeat scroll right top;
}
.slide-2 {
    background: rgba(0, 0, 0, 0) url("img/slider/slider-2.png") repeat scroll right center;
}
.slide-3 {
    background: rgba(0, 0, 0, 0) url("img/slider/spring-t-shirts.jpg") repeat scroll right top / cover ;
}
.slide-4 {
    background: rgba(0, 0, 0, 0) url("img/slider/slider-5.jpg") repeat scroll right top / cover ;
}
.slide-5 {
    background: rgba(0, 0, 0, 0) url("img/slider/slider-6.jpg") repeat scroll right top / cover ;
}
.slide-6 {
    background: rgba(0, 0, 0, 0) url("img/slider/slider-7.jpg") repeat scroll right top / cover ;
}
.slider-screen .slider-content.ct-text-align-right {
    padding-right: 20%;
    text-align: right;
}
.slider-content h2 {
    font-weight: 500;
    letter-spacing: 5px;
}
.dot {
    background: #444 none repeat scroll 0 0;
    display: inline-block;
    height: 5px;
    width: 5px;
}
.slider-content.text-white h2 {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 45px;
}
.slider-content.text-white p {
  color: #fff;
  margin-bottom: 34px;
}
.slider_button a {
    background: #0aaaa0 none repeat scroll 0 0;
    border: 1px solid #0aaaa0;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 4px;
    padding: 13px 47px;
    transition: all 0.3s ease 0s;
}
.slider_button a:hover {
    background: #444 none repeat scroll 0 0;
    border: 1px solid #444;
}
.slider-content.black-bg-opacity {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    display: inline-block;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    outline-offset: -15px;
    padding: 70px 50px;
    position: relative;
    text-align: center;
}
.slider-content.black-bg-opacity > h2 {
    font-size: 30px;
    line-height: 40px;
    position: relative;
}
.slider-content.text-white.black-bg-opacity::before {
    border: 1px solid #019875;
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 10px;
}
.slider-content.text-white span {
    color: #019875;
}
.slider-white {
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    padding: 140px 0;
}
.slider-white .slider-content {
}
.slider-white .slider-content h3 {
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 50px;
    margin: 0;
}
.single-slider {
    background: rgba(0, 0, 0, 0) none repeat scroll right center;
    padding: 200px 0;
}
.border-t-b {
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
}
.slider-screen {
  background-position: center top;
  background-size: cover;
  height: 100vh;
  padding: 0;
  position: relative;
}
.slider-screen .slider-content {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-33%);
  z-index: 99;
}
.nrbop.bg-black-alfa-40::before {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
}
.slider-screen .slider-content.ct-text-align-left {
    padding-left: 20%;
    text-align: left;
}
.slide-2 .slider-content h2, .slide-2 .slider-content.text-white p {
    color: #fff;
}
.slide-2 .btn.white-btn {
    background: #019875 none repeat scroll 0 0;
    border-color: #019875;
    padding: 12px 59px;
}
.slide-2 .btn.white-btn:hover {
    background: #444 none repeat scroll 0 0;
    border-color: #444;
    color: #fff;
    padding: 12px 59px;
}
.slider-active .owl-dots, .slider-active .owl-nav {
    text-align: center;
}
.slider-active .owl-nav {
    margin-top: 10px;
}
.slider-active .owl-nav [class*="owl-"] {
    background: #d6d6d6 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
}
.slider-active .owl-nav [class*="owl-"]:hover {
    background: #869791 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.slider-active .owl-nav .disabled {
    cursor: default;
    opacity: 0.5;
}
.slider-active .owl-nav.disabled + .owl-dots {
    left: 25px;
    margin-top: -43px;
    position: absolute;
    top: 50%;
}
.slider-active .owl-dots .owl-dot {
    display: block;
}
.slider-active .owl-dots .owl-dot span {
    backface-visibility: visible;
    background: #d6d6d6 none repeat scroll 0 0;
    border-radius: 30px;
    display: block;
    height: 15px;
    margin: 10px 7px;
    transition: opacity 0.2s ease 0s;
    width: 15px;
}
.slider-active .owl-dots .owl-dot.active span, .slider-active .owl-dots .owl-dot:hover span {
    background: #0aaaa0 none repeat scroll 0 0;
}
.slider-3 .slider-content.text-white.black-bg-opacity > h2 {
    color: #fff;
}
.slider-active .owl-controls {
  left: 40px;
  margin-top: -11px;
  position: absolute;
  top: 50%;
}
.single-slider::after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}
.single-slider {
  position: relative;
}
.owl-item.active  .b_faddown1{
     -webkit-animation: fadeInDown 2000ms ease-in-out;
    -moz-animation: fadeInDown 2000ms ease-in-out;
    -ms-animation: fadeInDown 2000ms ease-in-out;
    animation: fadeInDown 2000ms ease-in-out;    
}
.owl-item.active  .b_faddown2 {
     -webkit-animation: fadeInDown 1000ms ease-in-out;
    -moz-animation: fadeInDown 1000ms ease-in-out;
    -ms-animation: fadeInDown 1000ms ease-in-out;
    animation: fadeInDown 1000ms ease-in-out;    
}
.owl-item.active  .b_faddown3 {
     -webkit-animation: fadeInDown 800ms ease-in-out;
    -moz-animation: fadeInDown 800ms ease-in-out;
    -ms-animation: fadeInDown 800ms ease-in-out;
    animation: fadeInDown 800ms ease-in-out;    
}



.donet_btn .btn.btn-solid i {
  margin-right: 6px;
}

/* 4.0 - Features */
.features-wrapper.one {
  background: #f8f8f8 none repeat scroll 0 0;
  height: auto;
  padding: 100px 0 101px;
}
.features-wrapper.one .features {
  margin-top: 85px;
}
.features-wrapper.one .features .feature {
  background: #fff none repeat scroll 0 0;
  box-sizing: border-box;
  cursor: pointer;
  padding: 22px;
  text-align: center;
  transition: all 0.6s ease 0s
}
.features-wrapper.one .features .feature .icons {
  position: relative;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  left: 50%;
}
.features-wrapper.one .features .feature .icons img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: opacity .5s ease;
}
.features-wrapper.one .features .feature .icons img.icon-hover {
  opacity: 0;
  margin-top: -2px;
  margin-left: -1px;
}
.features-wrapper.one .features .feature h4 {
  color: #444;
  font-family: "Raleway",sans-serif;
  font-size: 19px;
  font-weight: 600;
  margin: 7px 0 12px;
}
.features-wrapper.one .features .feature .btn {
  border-radius: 0;
  margin-top: 15px;
  opacity: 1;
  visibility: visible;
}

.features-wrapper.one .features .feature:hover h4 {
  color: #0aaaa0;
}
.features-wrapper.one .features .feature:hover .btn {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.features-wrapper.one .features .feature.higlight .btn {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.features-wrapper.one .features .feature:hover .icons img.icon-default {
  opacity: 0;
}
.features-wrapper.one .features .feature:hover .icons img.icon-hover {
  opacity: 1;
}
.feature h4 i {
  font-size: 40px;
  margin-right: 7px;
  vertical-align: middle;
}
.features-wrapper.one .features .feature:hover {
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
}
.features-wrapper.one .features .feature.higlight{
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
}
.icon_we {
  font-size: 50px;
}








@media screen and (max-width: 991px) {
  .features-wrapper.one {
    height: 780px;
  }
  .features-wrapper.one .features {
    margin-top: 70px;
  }
  .features-wrapper.one .features .feature {
    padding: 15px 0;
  }
  .features-wrapper.one .features .feature p {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .features-wrapper.one {
    height: auto;
    padding-bottom: 50px;
  }
  .features-wrapper.one .features .feature p {
    width: 65%;
  }
}
/* 5.0 - Special Cause*/
.special-cause {
  background: #fff none repeat scroll 0 0;
  padding: 105px 0;
  position: relative;
  text-align: center;
}
.special-cause .container {
  position: relative;
  z-index: 10;
}
.special-cause .foundings {
  margin: 45px auto 65px;
  text-align: center;
  width: 40%;
}
.donet__area {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f8f8f8;
  padding: 33px;
  text-align: left;
}
.donet__area .section-name {
  text-align: left;
}
.special-cause .foundings {
  margin: 20px auto 32px;
  text-align: left;
  width: 100%;
}
.donet__area .section-name > h2 ,.donet__area .parallax.one > h4{
  color: #444;
  line-height: 30px;
}
.donet__area .progress-bar-wrapper .value.one, .donet__area .progress-bar-wrapper.big .progress-bar-outer .value.two {
  color: #444444;
  font-size: 16px;
}
.donet__area .progress-bar-wrapper.big .progress-bar-outer .progress-bar-inner .empty-bar {
  background: #f1f1f1 none repeat scroll 0 0;
  height: 10px;
}
.donet__area .section-name > h2 {
  color: #444;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 9px;
  text-transform: capitalize;
}
.donet__area h1 {
  color: #444;
  font-family: raleway;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.progress-bar > span {
  background: #0aaaa0 none repeat scroll 0 0;
  border-radius: 25px;
  display: block;
  height: 100%;
  width: 0;
}
.progress-bar {
  background: #f1f1f1 none repeat scroll 0 0;
  border-radius: 25px;
  box-shadow: 0 0 0;
  height: 17px;
  margin: 0 0 19px;
  position: relative;
  width: 100%;
}
.donet__area .section-name.parallax h4 {
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .special-cause .foundings {
    width: 80%;
  }
}
/* 6.0 - Causes*/
.causes-wrapper {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 105px 0 76px;
  position: relative;
}
.causes-wrapper .causes {
  padding-top: 46px;
  text-align: center;
}
.causes-wrapper .causes-filter {
  display: inline-block;
}
.causes-wrapper .causes-filter li {
  display: block;
  position: relative;
  float: left;
  margin: 10px 10px;
  padding: 0 15px;
  height: 26px;
  line-height: 26px;
  border-radius: 3px;
  background: #ebebeb;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #444;
  cursor: pointer;
}
.causes-wrapper .causes-filter li:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
}
.causes-wrapper .causes-filter li.selected,
.causes-wrapper .causes-filter li:hover {
  background: #0aaaa0;
  color: #fff;
  transition: all 0.5s ease;
}
.causes-wrapper .causes-list {
  text-align: left;
  margin-top: 40px;
}
.causes-wrapper .btns-wrapper {
  margin-top: 35px;
}
@media screen and (max-width: 650px) {
  .causes-wrapper .cause-wrapper {
    width: 100%;
  }
}
.togather-home {
  position: relative;
}
.work_togather > h1 {
  color: #fff;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.work_togather > h2 {
  color: #fff;
  font-family: raleway;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 32px;
}
.donation-wrapper-home.work_togathers {
  padding: 110px 0;
  text-align: center;
}

.causes-wrapper .progress-bar {
  background: #f1f1f1 none repeat scroll 0 0;
  border-radius: 25px;
  box-shadow: 0 0 0;
  height: 16px;
  margin: 0 0 19px;
  position: relative;
  width: 100%;
}

/* 7.0 - Donation */
.donation-wrapper-home {
  height: auto;
  position: relative;
  padding: 105px 0 0;
  background: url(../img/help1.jpg) top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
}
.donation-wrapper-home .container {
  position: relative;
  z-index: 10;
}
.donation-wrapper-home .donation-form-wrapper {
  margin-top: 55px;
}
/* 8.0 - Volunteers */
.volunteers-wrapper {
  background: #f6f6f6;
  padding: 95px 0;
  overflow-x: hidden;
}
.volunteers-wrapper .images-outer {
  height: 100%;
  position: relative;
}
.volunteers-wrapper .images-outer .images-inner {
  position: relative;
  float: right;
}
.volunteers-wrapper .images-outer .images-inner .images {
  padding: 3px 0;
  display: block;
  float: none;
}
.volunteers-wrapper .images-outer .images-inner .nivo-trigger {
  opacity: .8;
  position: relative;
  margin: 0 3px;
  transition: opacity .1s linear;
  display: block;
  float: left;
  text-align: center;
}
.volunteers-wrapper .images-outer .images-inner .nivo-trigger span {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  line-height: 96px;
  background: rgba(36, 40, 47, 0.85);
  font-size: 18px;
  color: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: opacity .3s ease, color .4s ease;
}
.volunteers-wrapper .images-outer .images-inner .nivo-trigger:hover {
  opacity: 1;
}
.volunteers-wrapper .images-outer .images-inner .nivo-trigger:hover span {
  opacity: 1;
  color: rgba(221, 221, 221, 0.85);
}
.volunteers-wrapper .info-block {
  padding: 4.3% 15px 0;
}
.volunteers-wrapper .info-block h2 {
  text-transform: uppercase;
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}
.volunteers-wrapper .info-block h2 span {
  color: #0aaaa0;
}
.volunteers-wrapper .info-block p {
  color: #4a4a4a;
  margin: 20px 0 30px;
}
.volunteers-wrapper .info-block .btn {
  border: 1px solid rgba(74, 74, 74, 0.85);
  color: #4a4a4a;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.volunteers-wrapper .info-block .btn:hover {
  background: #444 none repeat scroll 0 0;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .volunteers-wrapper .images-outer {
    margin-top: 50px;
  }
}
/* 9.0 - CountDown */
.countdown-wrapper {
  background: #0aaaa0;
  padding: 35px 0;
  text-transform: uppercase;
  color: #fff;
}
.countdown-wrapper .text {
  margin-top: 3%;
  padding-right: 95px;
  font-size: 24px;
}
.countdown-wrapper .countdown {
  display: inline-block;
  float: right;
}
.countdown-wrapper .countdown h3 {
  display: inline-block;
  float: left;
  height: 45px;
  padding: 0 15px;
  margin: 0 5px;
  border: 1px solid #fff;
  line-height: 42px;
  border-radius: 3px;
}
.countdown-wrapper .countdown h3 span {
  margin-right: 5px;
}
@media screen and (max-width: 1200px) {
  .countdown-wrapper {
    text-align: center;
  }
  .countdown-wrapper .text {
    padding: 0;
    margin-top: 0;
    text-align: center;
    float: none;
  }
  .countdown-wrapper .countdown {
    margin-top: 25px;
    float: none;
  }
}
@media screen and (max-width: 650px) {
  .countdown-wrapper .text {
    font-size: 20px;
  }
  .countdown-wrapper .countdown {
    margin-top: 15px;
  }
  .countdown-wrapper .countdown h3 {
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    padding: 0 5px;
    margin-top: 10px;
  }
}
/* 10.0 - Event */
.event-wrapper {
  position: relative;
  padding: 105px 0;
  background: url(../img/parallax/img-3.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.event-wrapper .container {
  position: relative;
  z-index: 10;
}
.event-wrapper h2,
.event-wrapper h4,
.event-wrapper p {
  color: #fff;
}
.event-wrapper h2 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}
.event-wrapper h4 {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 10px  5px 25px;
}
.event-wrapper h4 i {
  font-size: 14px;
  margin-right: 5px;
}
.event-wrapper p {
  width: 55%;
  margin: 0 auto 35px;
}
@media screen and (max-width: 1200px) {
  .event-wrapper p {
    width: 75%;
  }
}
@media screen and (max-width: 991px) {
  .event-wrapper p {
    width: 90%;
  }
}
/* 11.0 - Blog Home */
.blog-post-wrapper {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 105px 0;
  text-align: center;
}
.blog-post-wrapper .blog-posts {
  padding-top: 75px;
  text-align: left;
}
.blog-post-wrapper .blog-post .img-wrapper {
  position: relative;
}
.blog-post-wrapper .blog-post .img-wrapper .date {
  position: absolute;
  z-index: 455;
  bottom: 0;
  left: 0;
  width: 75px;
  height: 75px;
  text-align: center;
  background: #0aaaa0;
  color: #fff;
  line-height: 75px;
}
.blog-post-wrapper .blog-post .img-wrapper .date h2 {
  margin-top: 8px;
  font-size: 38px;
  line-height: 38px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.blog-post-wrapper .blog-post .img-wrapper .date h5 {
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 10px;
  line-height: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.blog-post-wrapper .blog-post .info-block h4 {
  transition: all 0.2s ease;
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.blog-post-wrapper .blog-post .info-block p {
  color: #4a4a4a;
  margin: 0px 0 28px;
}
.blog-post-wrapper .blog-post .btn {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.blog-post-wrapper .blog-post .short-stats h5 {
  margin-right: 5px;
}
.blog-post-wrapper .blog-post:hover .info-block h4 {
  color: #0aaaa0;
}
.blog-post-wrapper .btns-wrapper {
  margin-top: 35px;
}
@media screen and (max-width: 1200px) {
  .blog-post-wrapper .blog-post .short-meta {
    float: none;
    margin-top: 15px;
  }
}
@media screen and (max-width: 650px) {
  .blog-post-wrapper .blog-post-outer {
    width: 100%;
  }
}
/* 12.0 - Contact Us */
.contact-us-wrapper {
  height: auto;
  position: relative;
  padding: 105px 0 0;
  background: url(../img/parallax/img-2.jpg) top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
}
.contact-us-wrapper .container {
  position: relative;
  z-index: 10;
}
.contact-us-wrapper .contact-form {
  margin-top: 55px ;
}
/* 13.0 - Footer*/
footer {
  padding: 85px 0 0;
  background: #1e2024;
}
footer .title {
  color: #e5e5e5;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-bottom: 25px;
}
footer .about .social-media-icons a {
  position: relative;
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  padding: 0 8px;
  margin: 0 2.5px;
  line-height: 28px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  color: #e5e5e5;
  transition: width .5s ease;
  overflow: hidden;
}
footer .about .social-media-icons a i {
  display: inline-block;
  float: left;
  margin-right: 5px;
  line-height: 28px;
}
footer .about .social-media-icons a span {
  position: absolute;
  visibility: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
footer .about .social-media-icons a:hover {
  background: #fff;
  color: #0aaaa0;
  width: 85px;
}
footer .about .social-media-icons a:hover span {
  visibility: visible;
}
footer .about p {
  color: #e5e5e5;
  margin: 15px 0 35px;
}
footer .quick-links .links a {
  display: block;
  float: none;
  padding: 0 3px;
  margin: 10px 0px;
  color: #e5e5e5;
  transition: all 0.3s ease;
}
footer .quick-links .links a i {
  margin-right: 5px;
}
footer .quick-links .links a:hover {
  color: #0aaaa0;
  margin-left: 5px;
}
footer .tags-outer .tags a {
  display: block;
  position: relative;
  float: left;
  height: 35px;
  padding: 0 15px;
  margin: 2.5px 2.5px;
  line-height: 35px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  color: #e5e5e5;
  transition: all .3s ease;
}
footer .tags-outer .tags a span {
  display: block;
  position: relative;
  z-index: 10;
}
footer .tags-outer .tags a:hover {
  color: #0aaaa0;
  background:#fff;
}
footer .tags-outer .tags a:hover:after {
  width: 100%;
}
footer .subcribe p {
  color: #e5e5e5;
  margin: 0 0 25px;
}
footer .subcribe form .field input {
  width: 65.5%;
  height: 45px;
  border-radius: 3px;
  color: rgba(56, 56, 56, 0.85);
  padding: 0 15px;
  float: left;
  margin-right: 10px;
}
footer .subcribe form .field button:hover {
  background: #fff none repeat scroll 0 0;
  color: #0aaaa0;
}
footer .subcribe form .field button {
  height: 45px;
  padding: 0 28px;
}
footer .footer-bar {
  margin-top: 85px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #e5e5e5;
  background: #161719;
  padding: 25px 0;
}
footer .footer-bar h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
footer .footer-bar h5 i,
footer .footer-bar h5 a {
  color: #0aaaa0;
}
@media screen and (max-width: 991px) {
  footer {
    padding: 70px 0 0;
  }
  footer .widget {
    padding: 15px 0;
  }
}
/* 14.0 - Blog Page*/
.blog-page-wrapper {
  padding: 85px 0;
  background: #f6f6f6;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}
.page-banner .section-name h2 {
  font-size: 31px;
}
.blog-page-wrapper .blog-posts .blog-post {
  padding: 30px 0;
}
.blog-page-wrapper .blog-posts .blog-post h2 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #444;
  margin: 30px 0 5px;
}
.blog-page-wrapper .blog-posts .blog-post .meta h5 {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-right: 20px;
  margin-top: 10px;
}
.blog-page-wrapper .blog-posts .blog-post .meta h5 i {
  margin-right: 5px;
  color: #0aaaa0;
}
.blog-page-wrapper .blog-posts .blog-post .meta h5 a {
  color: rgba(0, 0, 0, 0.55);
  transition: all .3s ease;
}
.blog-page-wrapper .blog-posts .blog-post .meta h5 a:hover {
  color: #0aaaa0;
}
.blog-page-wrapper .blog-posts .blog-post .meta h5:first-child {
  margin-left: 0;
}
.blog-page-wrapper .blog-posts .blog-post p {
  color: #4a4a4a;
  margin: 25px 0 25px;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-controls {
  display: block;
  width: 100%;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-nav {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-nav .owl-prev,
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-nav .owl-next {
  position: absolute;
  opacity: 0.6;
  background: none;
  color: #ffffff;
  font-size: 40px;
  transition: all 0.2s ease;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-nav .owl-prev:hover,
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-nav .owl-next:hover {
  opacity: 1;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-nav .owl-prev {
  left: 5%;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-nav .owl-next {
  right: 5%;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-dots {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 45px;
  z-index: 200;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-dots .owl-dot {
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background: rgba(36, 40, 47, 0.8);
  transition: all 0.2s ease;
}
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-dots .owl-dot:hover,
.blog-page-wrapper .blog-posts .blog-post #post-slider .owl-dots .owl-dot.active {
  background: #0aaaa0;
}
.blog-page-wrapper .blog-posts .pagination {
  margin-top: 30px;
}
.blog-page-wrapper .sidebar {
  margin-left: 30px;
}
.blog-page-wrapper .sidebar .widget {
  padding: 30px 0;
}
.blog-page-wrapper .sidebar .search-bar {
  padding-bottom: 30px;
  position: relative;
}
.blog-page-wrapper .sidebar .search-bar form {
  position: relative;
  display: block;
  width: 100%;
}
.blog-page-wrapper .sidebar .search-bar form .field {
  display: block;
  width: 100%;
  position: relative;
  height: 45px;
}
.blog-page-wrapper .sidebar .search-bar form .field input {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  color: rgba(56, 56, 56, 0.85);
  padding: 0 45px 0 15px;
}
.blog-page-wrapper .sidebar .search-bar form .field button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  width: 45px;
  height: 45px;
  color: #4a4a4a;
}
.blog-page-wrapper .sidebar .categories {
  margin-top: 15px;
}
.blog-page-wrapper .sidebar .categories a {
  display: block;
  float: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4a4a4a;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e5e5e5;
  transition: all 0.3s ease;
}
.blog-page-wrapper .sidebar .categories a span {
  float: right;
}
.blog-page-wrapper .sidebar .categories a:hover {
  color: #0aaaa0;
}
.blog-page-wrapper .sidebar .recent-posts {
  margin-top: 15px;
}
.blog-page-wrapper .sidebar .recent-posts .post {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
.blog-page-wrapper .sidebar .recent-posts .post .image-wrapper {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 15px;
  overflow-x: hidden;
}
.blog-page-wrapper .sidebar .recent-posts .post .image-wrapper .mask {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 75px;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  background: rgba(36, 40, 47, 0.65);
}
.blog-page-wrapper .sidebar .recent-posts .post .image-wrapper .mask a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #0aaaa0;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border-radius: 3px;
  transform: translateY(-35px);
  transition: all .5s ease;
}
.blog-page-wrapper .sidebar .recent-posts .post h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #444;
  transition: all 0.5s ease;
  margin-bottom: 8px;
}
.blog-page-wrapper .sidebar .recent-posts .post .meta p,
.blog-page-wrapper .sidebar .recent-posts .post .meta span {
  display: block;
  float: left;
  color: rgba(56, 56, 56, 0.4);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.blog-page-wrapper .sidebar .recent-posts .post .meta p i,
.blog-page-wrapper .sidebar .recent-posts .post .meta span i {
  margin-right: 5px;
}
.blog-page-wrapper .sidebar .recent-posts .post .meta span {
  margin: 0 7px;
  color: #e5e5e5;
}
.blog-page-wrapper .sidebar .recent-posts .post:hover h4 {
  color: #0aaaa0;
}
.blog-page-wrapper .sidebar .recent-posts .post:hover .image-wrapper .mask {
  opacity: 1;
}
.blog-page-wrapper .sidebar .recent-posts .post:hover .image-wrapper .mask a {
  transform: translateY(0px);
}
.blog-page-wrapper .sidebar .tags {
  margin-top: 15px;
}
.blog-page-wrapper .sidebar .tags a {
  position: relative;
  display: block;
  float: left;
  background: #ebebeb;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  padding: 0 25px;
  margin: 2.5px;
  color: #4a4a4a;
  font-size: 14px;
  transition: all .3s ease;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.blog-page-wrapper .sidebar .tags a span {
  display: block;
  position: relative;
  z-index: 10;
}
.blog-page-wrapper .sidebar .tags a:hover {
  color: #fff;
}
.blog-page-wrapper .tags a:hover {
  background: #444 none repeat scroll 0 0;
}
.blog-page-wrapper .sidebar .tags a:hover:after {
  width: 100%;
  z-index: 1;
}
.blog-page-wrapper .blog-posts .blog-post.single-post h2 {
  margin-top: 0;
}
.blog-page-wrapper .blog-posts .blog-post.single-post .meta {
  margin-bottom: 35px;
}
.blog-page-wrapper .blog-posts .blog-post.single-post blockquote {
  width: 100%;
  background: #fafafa;
  border-left: 2px solid #0aaaa0;
  padding: 35px 55px;
  text-align: center;
}
.blog-page-wrapper .blog-posts .blog-post.single-post blockquote i {
  font-size: 24px;
  color: #0aaaa0;
}
.blog-page-wrapper .blog-posts .blog-post.single-post blockquote p {
  color: rgba(0, 0, 0, 0.55);
}
.blog-page-wrapper .blog-posts .blog-post.single-post .gallery-wrapper,
.blog-page-wrapper .blog-posts .blog-post.single-post blockquote {
  margin: 25px 0;
}
.blog-page-wrapper .blog-posts .blog-post.single-post p {
  margin: 10px 0;
  color: #4a4a4a;
}
.blog-page-wrapper .blog-posts .blog-post.single-post p.first {
  margin-top: 35px;
}
.blog-page-wrapper .blog-posts .blog-post.single-post .subheader {
  margin: 45px 0 15px;
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.blog-page-wrapper .blog-posts .single-post-footer .tags a {
  display: block;
  float: left;
  padding: 0 8px;
  height: 25px;
  line-height: 25px;
  background: #ebebeb;
  margin: 0 2.5px ;
  border-radius: 3px;
  color: #4a4a4a;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  transition: background .5s ease, color .3s ease;
}
.blog-page-wrapper .pagination-wrapper {
  text-align: left;
}
.blog-page-wrapper .blog-posts .single-post-footer .tags a:first-child {
  margin-left: 0;
}
.blog-page-wrapper .blog-posts .single-post-footer .tags a:hover {
  color: #fff;
  background: #0aaaa0;
}
.blog-page-wrapper .blog-posts .single-post-footer .author {
  margin-top: 55px;
  padding: 35px 0 25px;
  border-top: 1px solid #e5e5e5;
}
.blog-page-wrapper .blog-posts .single-post-footer .author img {
  float: left;
  margin-right: 25px;
}
.blog-page-wrapper .blog-posts .single-post-footer .author h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #444;
}
.blog-page-wrapper .blog-posts .single-post-footer .author p {
  color: #4a4a4a;
  margin: 8px 0 10px;
}
.blog-page-wrapper .blog-posts .single-post-footer .author .social-media a {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.45);
  margin: 0 2.5px;
  transition: all .5s ease;
}
.blog-page-wrapper .blog-posts .single-post-footer .author .social-media a:first-child {
  margin-left: 0;
}
.blog-page-wrapper .blog-posts .single-post-footer .author .social-media a:hover {
  color: #0aaaa0;
}
.blog-page-wrapper .blog-posts .single-post-footer .comment-form-wrapper {
  margin-top: 65px;
}
.blog-page-wrapper .blog-posts .single-post-footer .comment-form-wrapper .comment-form {
  margin-top: 25px;
}
@media screen and (max-width: 991px) {
  .blog-page-wrapper .sidebar {
    padding-top: 80px;
    margin-left: 0;
  }
}
/* 15.0 - Causes Page*/
.causes-page-wrapper {
  padding: 0px 0 85px;
  background: #f6f6f6;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}
.causes-page-wrapper .top-bar {
  padding: 15px 0;
  margin: 0 0px;
  background: #0aaaa0;
}
.causes-page-wrapper .top-bar h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 14px 0;
}
.causes-page-wrapper .top-bar .filter {
  position: relative;
  padding: 10px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.causes-page-wrapper .top-bar .filter .causes-filter-top span,
.causes-page-wrapper .top-bar .filter .causes-filter-top i {
  display: block;
  float: left;
  color: #ffffff;
  font-size: 16px;
}
.causes-page-wrapper .top-bar .filter .causes-filter-top i {
  margin: 4px 0 0 5px;
}
.causes-page-wrapper .top-bar .filter ul {
  position: absolute;
  top: 35px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.18);
  z-index: 8888;
  display: none;
}
.causes-page-wrapper .top-bar .filter ul .invisible {
  z-index: -1;
}
.causes-page-wrapper .top-bar .filter ul li {
  padding: 8px 12px ;
  margin: 0px 0;
  cursor: pointer;
  font-size: 14px;
  color: #444;
}
.causes-page-wrapper .top-bar .filter ul li:first-child {
  margin-top: 0;
}
.causes-page-wrapper .top-bar .filter ul li:last-child {
  margin-bottom: 0;
}
.causes-page-wrapper .top-bar .filter ul li:hover,
.causes-page-wrapper .top-bar .filter ul li.selected {
  background: #0aaaa0;
  color: #Fff;
}
.causes-page-wrapper .top-bar .filter ul.on {
  display: block;
}
.causes-page-wrapper .top-bar .search {
  display: block;
  width: 100%;
  height: 100%;
}
.causes-page-wrapper .top-bar .search .field {
  display: block;
  height: 45px;
  width: 100%;
}
.causes-page-wrapper .top-bar .search .field input {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0 55px 0 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #444;
  opacity: 1;
  border-radius: 3px;
}
.causes-page-wrapper .top-bar .search .field button {
  display: block;
  width: 55px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 15px;
  background: none;
}
.causes-page-wrapper .top-bar .view-options {
  float: right;
  padding: 10px 0;
}
.causes-page-wrapper .top-bar .view-options span,
.causes-page-wrapper .top-bar .view-options a {
  display: block;
  float: left;
}
.causes-page-wrapper .top-bar .view-options span {
  font-size: 16px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-right: 10px;
}
.causes-page-wrapper .top-bar .view-options a {
  font-size: 16px;
  color: #fff;
  margin: 2px 5px 0;
  opacity: .7;
}
.causes-page-wrapper .top-bar .view-options a.active {
  opacity: 1;
}
.causes-page-wrapper .info {
  margin: 50px 0 20px;
}
.causes-page-wrapper .info h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.55);
}
.causes-page-wrapper .cause.no-bg {
  margin-bottom: 50px;
}
.causes-page-wrapper .cause.no-bg.last-cause {
  margin-bottom: 0;
}
.causes-page-wrapper .cause .info-block .btn {
  display: inline-block;
  float: left;
}
.causes-page-wrapper .cause .info-block h5,
.causes-page-wrapper .cause .info-block h3,
.causes-page-wrapper .cause .info-block .short-stats {
  display: inline-block;
}
.causes-page-wrapper .cause .info-block.list {
  padding: 0 15px;
}
.causes-page-wrapper .cause .info-block.list .meta {
  margin-bottom: 10px;
}
.causes-page-wrapper .cause .info-block.list .foundings {
  margin: 45px 0 35px;
}
.causes-page-wrapper .cause .info-block.list .short-stats {
  float: right;
}
.causes-page-wrapper .cause .info-block.list .short-stats h5 {
  margin-top: 0;
}
.causes-page-wrapper .cause .info-block .btn {
  margin-right: 20px;
}
.causes-page-wrapper .pagination-wrapper {
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .causes-page-wrapper .cause .info-block .btn,
  .causes-page-wrapper .cause .info-block h3,
  .causes-page-wrapper .cause .info-block .short-stats {
    float: none;
  }
  .causes-page-wrapper .cause .info-block.list .short-stats {
    float: none;
    margin-left: -10px;
  }
}
@media screen and (max-width: 767px) {
  .causes-page-wrapper .cause .info-block.list .meta {
    margin-top: 30px;
  }
}
@media screen and (max-width: 650px) {
  .causes-page-wrapper .top-bar .col-xs-6 {
    width: 100%;
  }
  .causes-page-wrapper .top-bar .view-options {
    float: none;
  }
  .causes-page-wrapper .cause-wrapper {
    width: 100%;
  }
}
.causes-page-wrapper.single-cause {
  padding: 85px 0 0;
}
.causes-page-wrapper.single-cause .meta {
  text-align: center;
}
.causes-page-wrapper.single-cause .meta .short-stats {
  margin-top: 15px;
}
.causes-page-wrapper.single-cause .image-wrapper {
  margin: 35px 0;
}
.causes-page-wrapper.single-cause .foundings {
  width: 70%;
  float: left;
}
.causes-page-wrapper.single-cause .btn {
  float: right;
}
.causes-page-wrapper.single-cause .info-block {
  margin-top: 35px;
  padding-top: 25px;
  border-top: 1px solid #e5e5e5;
}
.causes-page-wrapper.single-cause .info-block p {
  margin-top: 10px;
}
.causes-page-wrapper.single-cause .info-block p:first-child {
  margin-top: 0;
}
.causes-page-wrapper.single-cause .gallery-wrapper {
  margin-top: 65px;
}
.causes-page-wrapper.single-cause .gallery-wrapper p {
  margin: 25px 0 15px;
}
.causes-page-wrapper.single-cause .donation-wrapper {
  margin-top: 50px;
  background: #f2f2f2;
  padding: 50px 0 85px;
}
.causes-page-wrapper.single-cause .donation-wrapper .tabs-switcher {
  border-bottom: 1px solid #ebebeb;
}
.causes-page-wrapper.single-cause .donation-wrapper .tabs-switcher li {
  display: block;
  float: left;
  margin-right: 25px;
}
.causes-page-wrapper.single-cause .donation-wrapper .tabs-switcher li:first-child {
  margin-left: 0;
}
.causes-page-wrapper.single-cause .donation-wrapper .tabs-switcher li a {
  position: relative;
  bottom: -1px;
  padding-bottom: 16px;
  color: #4a4a4a;
  border: none;
  background: none;
}
.causes-page-wrapper.single-cause .donation-wrapper .tabs-switcher li a i {
  margin: 0 5px;
}
.causes-page-wrapper.single-cause .donation-wrapper .tabs-switcher li.active a {
  border-bottom: 2px solid #0aaaa0;
  color: #0aaaa0;
}
.causes-page-wrapper.single-cause .donation-wrapper .tab-content {
  margin-top: 25px;
}
@media screen and (max-width: 550px) {
  .causes-page-wrapper.single-cause .donation-wrapper .tabs-switcher li {
    display: block;
    float: none;
  }
}
/* 16.0 - About Page */
.about-page-wrapper {
  padding: 85px 0 0px;
  background: #f6f6f6;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}
.about-page-wrapper .description p.first {
  margin-top: 25px;
}
.about-page-wrapper .description p.second,
.about-page-wrapper .description p.third {
  margin: 15px 0 0;
}
.about-page-wrapper .team {
  margin-top: 70px;
}
.about-page-wrapper .team p.description {
  padding-top: 25px;
}
.about-page-wrapper .team .team-members {
  margin-top: 30px;
}
.about-page-wrapper .team .team-member .overlay .social-media {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -90px;
  margin-top: -17.5px;
  transform: translateY(-95px);
  transition: all .5s ease;
}
.about-page-wrapper .team .team-member .overlay .social-media a {
  display: block;
  padding: 0;
  float: left;
  width: 35px;
  height: 35px;
  background: #0aaaa0;
  text-align: center;
  margin: 0 5px;
  line-height: 35px;
  color: #ffffff;
  border-radius: 3px;
}
.about-page-wrapper .team .team-member .overlay .social-media a:hover {
  background: #eb3747;
}
.about-page-wrapper .team .team-member .info-block h3 {
  margin-bottom: 8px;
}
.about-page-wrapper .team .team-member .info-block h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  color: #4a4a4a;
}
.about-page-wrapper .team .team-member:hover .overlay .social-media {
  transform: translateY(0);
}
.about-page-wrapper .partners {
  background: #f2f2f2;
  margin-top: 50px;
  padding: 65px 0 85px;
}
.about-page-wrapper .partners p {
  padding-top: 25px;
}
.about-page-wrapper .partners #partners-slider {
  margin-top: 60px;
}
.about-page-wrapper .partners #partners-slider .item {
  text-align: center;
}
.about-page-wrapper .partners #partners-slider .item img {
  width: 90%;
  display: inline-block;
  transition: opacity 0.5s ease, filter .4s ease;
  opacity: .5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.about-page-wrapper .partners #partners-slider .item:hover img {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}
.about-page-wrapper .partners #partners-slider .owl-dots {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
.about-page-wrapper .partners #partners-slider .owl-dots .owl-dot {
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background: #9f9f9f;
  transition: all 0.2s ease;
}
.about-page-wrapper .partners #partners-slider .owl-dots .owl-dot:hover,
.about-page-wrapper .partners #partners-slider .owl-dots .owl-dot.active {
  background: #0aaaa0;
}
.mean-container .mean-nav ul li a {
  font-family: raleway;
}

.blog-page-wrapper .blog-posts .blog-post {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .about-page-wrapper .description .image-wrapper {
    margin-bottom: 30px;
  }
  .about-page-wrapper .description .image-wrapper img {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .about-page-wrapper .tm-wrapper {
    width: 100%;
  }
}
/*17.0 - Contact Us Page*/
.contact-page-wrapper {
  padding: 85px 0 105px;
  background: #f6f6f6;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}
.contact-page-wrapper p.description {
  margin: 25px 0 65px;
}
.contact-page-wrapper .widget {
  text-align: center;
}
.contact-page-wrapper .widget i {
  font-size: 30px;
  transition: transform 0.2s ease-in, color 0.3s ease;
  color: #a5a5a5;
  margin: 30px 0;
}
.contact-page-wrapper .widget p {
  width: 65%;
  margin: 0 auto;
  font-size: 16px;
}
.contact-page-wrapper .widget:hover i {
  color: #0aaaa0;
  transform: scale(1.2);
}
.contact-page-wrapper .comment-form-wrapper {
  margin-top: 90px;
}
.contact-page-wrapper .comment-form-wrapper .comment-form {
  margin-top: 45px ;
}

.grid-cause-area {
  padding-bottom: 108px;
  padding-top: 112px;
}
.content-box .info-block h4 a {
  color: #444;
  transition: all 0.3s ease 0s;
}
.content-box .info-block h4 a:hover {
  color: #0aaaa0;
}

.progress-bar > span {
  position: relative;
  border-radius: 0;
  max-width: 100%;
}
.progress-bar span.pretng {
  color: #fff;
  font-size: 10px;
  height: 100%;
  line-height: 17px;
  position: absolute;
  right: 1px;
  width: 30px;
}
.progress-bar {
  border-radius: 0;
}
.progress-bar-wrapper .progress-bar-outer .progress-bar-inner {
  margin-top: 20px;
}
.content-box .foundings {
  margin: 13px 0 23px;
}


.list-cause-area .cause.content-box {
  background: transparent none repeat scroll 0 0;
  box-shadow: none;
  clear: both;
  overflow: hidden;
}
.list-cause-area .content-box .info-block {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
  padding: 32px 29px;
  text-align: left;
}
.single-cause .btn.btn-big.btn-solid {
  margin-top: 18px;
}
.donation .field .btn.btn-big.btn-solid {
  display: inline-block;
  float: none;
}
.causes-page-wrapper.single-cause .donation-wrapper {
  padding: 50px 0 108px;
}
.causes-page-wrapper.single-cause {
  padding: 110px 0 0;
}
.about-right-text .widget-title > h4 {
  color: #444;
  font-size: 24px;
  font-weight: 900;
  line-height: 31px;
  text-transform: uppercase;
}
.about-right-text .btn.btn-min.btn-secondary {
  margin-top: 22px;
}
.about-page-wrapper .about-right-text p.first {
  margin-top: 16px;
}
.about-page-wrapper {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  padding: 85px 0 0;
}
.about-right-text {
  background: #fff none repeat scroll 0 0;
  display: block;
  padding-top: 113px;
  position: relative;
  z-index: 0;
}
.about-page-wrapper .team-wrapper {
  background: #f8f8f8 none repeat scroll 0 0;
}
.about-page-wrapper .partners {
  background: #fff none repeat scroll 0 0;
  margin-top: 0;
  padding: 65px 0 85px;
}
.about-page-wrapper .partners #partners-slider {
  margin-top: 24px;
}
.contact-from .widget-title h4 {
  font-family: "Raleway",sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}
.contact-from .widget-title {
  text-align: center;
}
#map {
  height: 450px;
  width: 100%;
}
#map2 {
  height: 450px;
  width: 100%;
}
a#scrollUp {
  background: #0aaaa0 none repeat scroll 0 0;
  bottom: 54px;
  color: #fff;
  font-size: 23px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 32px;
  text-align: center;
  width: 40px;
  transition: all 0.3s ease 0s;
}
a#scrollUp:hover {
  background: #444 none repeat scroll 0 0;
}
.cause .meta .short-stats {
  float: right;
  margin: -7px 0 0;
  text-align: right;
  width: 40%;
}
.cause .meta > h2 {
  float: left;
  text-align: left;
  width: 50%;
}
.cause .meta {
  margin-bottom: 20px;
  overflow: hidden;
}
.causes-page-wrapper.single-cause .image-wrapper {
  margin: 0 0 48px;
}
.causes-page-wrapper.single-cause {
  padding: 90px 0 0;
}
.gallery-areas {
  padding: 86px 0;
}
.blog-box > img {
  width: 100%;
}
.mobile-menu-area {
  display: none;
}
.navigation #search-toggle, .navigation #menu-toggle {
  position: relative;
  z-index: 9999999;
}
.mean-container .mean-bar::after {
  display: none;
}
.mean-container a.meanmenu-reveal span {
  background: #0aaaa0 none repeat scroll 0 0;
  display: block;
  height: 3px;
  margin-top: 5px;
  width: 31px;
}
.mobile-menu-area {
  background: transparent none repeat scroll 0 0;
  margin-top: -82px;
}
.mean-container a.meanmenu-reveal {
  color: #0aaaa0;
  height: 22px;
  width: 29px;
}

.mean-container a.meanmenu-reveal {
  padding: 13px 13px 30px;
}
.mean-container .mean-bar {
  margin-top: -67px;
}
.navigation .logo-wrap {
  position: relative;
  z-index: 9999999;
}
.mean-container .mean-nav ul li a {
  color: #444;
  padding: 1.3em 5%;
  transition: all 0.3s ease 0s;
  background: #fff;
}
.mean-container .mean-nav ul li a:hover {
  background: #f8f8f8 none repeat scroll 0 0;
  color: #0aaaa0;
}
.mean-container .mean-nav ul li a.mean-expand {
  background: #fff none repeat scroll 0 0;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: #fff none repeat scroll 0 0;
}
.mean-container .mean-nav ul li a:hover {
  background: #fff none repeat scroll 0 0;
  color: #0aaaa0;
}
.volunteers-wrapper .images-outer {
  margin-top: 0;
}




/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.blog-top-desc h4 {
  margin-bottom: 9px;
}
footer .subcribe form .field input {
  width: 58.5%;
}




}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.slider-content.text-white h2 {
  font-size: 30px;
}
.features-wrapper.one {
  height: auto;
}
.donet__area_img > img {
  width: 100%;
}
.special-cause .foundings {
  width: 100%;
}
.work_togather > h1 {
  font-size: 42px;
}
.volunteers-wrapper.images-gallery-wrapper .images-outer .images-inner .nivo-trigger span {
  line-height: 160px;
}
footer .subcribe form .field input {
  width: 63%;
}
.navigation #search-toggle, .navigation #menu-toggle {
  margin: 25px 55px 25px 0;
}
.mobile-menu-area {
  display: block;
}
.about-right-text {
  padding-top: 13px;
  padding-bottom: 90px;
}
.team-wrapper {
  padding-bottom: 55px;
}






}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.slider-content.text-white h2 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
  margin-bottom: 27px;
}
.slider-content.text-white p {
  padding: 0 18px;
}
.features-wrapper.one .features .feature {
  margin-bottom: 86px;
}
.features-wrapper.one {
  height: auto;
}
.donet__area_img > img {
  width: 100%;
}
.special-cause .foundings {
  width: 100%;
}
.work_togather > h1 {
  font-size: 42px;
}
.volunteers-wrapper.images-gallery-wrapper .images-outer .images-inner .nivo-trigger span {
  line-height: 160px;
}
footer .subcribe form .field input {
  width: 63%;
}
.work_togather > h1 {
  font-size: 25px;
}
.work_togather > h2 {
  font-size: 20px;
}
.best-volunteer {
  margin-bottom: 35px;
}
.volunteers-wrapper .weneed-volunt.info-block {
  width: 100%;
}
.volunteers-wrapper .info-block .btn {
  font-size: 12px;
}
.navigation #search-toggle, .navigation #menu-toggle {
  margin: 25px 55px 25px 0;
}
.mobile-menu-area {
  display: block;
}
.slider-active .owl-controls {
  display: none;
}
.volunteers-wrapper.images-gallery-wrapper .images-outer .images-inner .nivo-trigger span {
  line-height: 201px;
}
.blog-date {
  margin-right: 12px;
  width: 70px;
}
.blog-box {
  margin-bottom: 40px;
}
footer .subcribe form .field input {
  width: 53%;
}
.cause .meta > h2 {
  float: left;
  text-align: left;
  width: 100%;
}
.cause .meta .short-stats {
  float: left;
  margin: -7px 0 0;
  text-align: left;
  width: 100%;
}
.causes-page-wrapper.single-cause .foundings {
  float: left;
  width: 100%;
}
.causes-page-wrapper.single-cause .btn {
  float: left;
}
.about-right-text {
  padding-top: 13px;
  padding-bottom: 90px;
}
.team-wrapper {
  padding-bottom: 55px;
}









 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.navigation #search-toggle, .navigation #menu-toggle {
  margin: 25px 55px 25px 0;
}
.mobile-menu-area {
  display: block;
} 
 
 
}








 






.required{
  color: red;
}



.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}
   
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}

.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}

.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}


.btn-dash{
  color:#FFffff;
  background-color: #333;
  border-color: #FFffff;
}

.btn-dash:hover{
  color:#333;
  background-color: #FFffff;
  border-color: #333;
}

.btn-facebook {
  color: #fff;
  background-color: #4C67A1;
}

.btn-twitter {
    background-color: #1ba5e2;
    color: #fff;
}

.btn-twitter:hover {
  color: #fff;
  background-color: #2795e9;
}


.btn-whatapp {
  background-color: #25d366;
  color: #fff;
}

.btn-whatapp:hover {
  color: #fff;
  background-color: #17e192;
}


.btn-facebook:hover {
  color: #fff;
  background-color: #405D9B;
}
.btn-facebook:focus {
  color: #fff;
}

.f-caps {
    text-transform: uppercase;
}

.f-fw-bold {
    font-weight: 700;
}

.f-font-condensed {
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
}


.f-m-t-small {
    margin-top: 14px;
}

.f-lh-xsmall {
    line-height: 1;
}

.f-ilb {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}

.f-m-b-xsmall {
    margin-bottom: 8px;
}

.f-thermometer {
    width: 100%;
    height: 8px;
    position: relative;
    overflow: hidden;
    background-color: #e7eaed;
    border-radius: 4px;
}

.f-bg-primary, .f-bg-hover-primary {
    background-color: #3fc4e9;
    color: #fff;
}
.f-bg-primary, .f-bg-hover-primary:hover {
    background-color: #ff8b5d;
    color: #e7eaed;
}

.f-mercury {
    height: 100%;
    max-width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-color: rgba(0,0,0,0.1);
}


.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}



/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */

@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
  width: 350px;
}

#login-modal input[type=text], input[type=password] {
  margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
  border: 1px solid #dadfe1;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
  border: 1px solid #68c3a3;
  background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
  border: 1px solid #eb575b;
  background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #dadfe1;
  margin-right: 5px;
  transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
  background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
  background-color: #eb575b !important;
}

#img_logo {
  max-height: 100px;
  max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .8;
}

.modal-content {
  background-color: #ececec;
  border: 1px solid #bdc3c7;
  border-radius: 0px;
  outline: 0;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px;
}

.modal-body {
  position: relative;
  padding: 5px 15px 5px 15px;
}

.modal-footer {
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0px;
}

.checkbox {
  margin-bottom: 0px;
}

.btn {
  border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn-lg, .btn-group-lg>.btn {
  border-radius: 0px;
}

.btn-link {
  padding: 5px 10px 0px 0px;
  color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
  color: #2c3e50;
  text-decoration: none;
}

.glyphicon {
  top: 0px;
}

.form-control {
  border-radius: 0px;
}


/*FREQUENTLY ASKED QUESTIONS*/

.cd-faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.cd-faq:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .cd-faq {
    position: relative;
    margin: 4em auto;
    box-shadow: none;
  }
}

.cd-faq-categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
}
.cd-faq-categories a::before, .cd-faq-categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}
.cd-faq-categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-faq-categories li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .cd-faq-categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  .cd-faq-categories a {
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600;
    padding-left: 24px;
    padding: 0 24px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .cd-faq-categories a::before, .cd-faq-categories a::after {
    display: none;
  }
  .no-touch .cd-faq-categories a:hover {
    background: #555b61;
  }
  .no-js .cd-faq-categories {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-categories {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 2;
  }
  .cd-faq-categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #a9c056;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-faq-categories .selected {
    background: #42464b !important;
  }
  .cd-faq-categories .selected::before {
    opacity: 1;
  }
  .cd-faq-categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }
  .no-js .cd-faq-categories {
    position: relative;
  }
}

.cd-faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.cd-faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .cd-faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .cd-faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-faq-items {
    float: none;
    width: 100%;
    padding-left: 220px;
  }
  .no-js .cd-faq-items {
    padding-left: 0;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}
.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.cd-faq-group {
  /* hide group not selected */
  display: none;
}
.cd-faq-group.selected {
  display: block;
}
.cd-faq-group .cd-faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}
.no-touch .cd-faq-group .cd-faq-title:hover {
  box-shadow: none;
}
.cd-faq-group .cd-faq-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #bbbbc7;
}
.no-js .cd-faq-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-faq-group {
    /* all groups visible */
    display: block;
  }
  .cd-faq-group > li {
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .no-touch .cd-faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }
  .cd-faq-group .cd-faq-title {
    margin: 2em 0 1em;
  }
  .cd-faq-group:first-child .cd-faq-title {
    margin-top: 0;
  }
}

.cd-faq-trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-faq-trigger {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }
  .cd-faq-trigger::before, .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .cd-faq-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cd-faq-content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #6c7d8e;
}
@media only screen and (min-width: 768px) {
  .cd-faq-content {
    display: none;
    padding: 0 24px 30px;
  }
  .cd-faq-content p {
    line-height: 1.6;
  }
  .no-js .cd-faq-content {
    display: block;
  }
}



/*LOGIN*/
.form-body{
  background:#fff;
  padding:20px;
}
.login-form{
  background:rgba(255,255,255,0.8);
  padding:20px;
  border-top:3px solid#3e4043;
}
.innter-form{
  padding-top:20px;
}
.final-login li{
  width:50%;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs>li{
  color:#222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #d14d42;
  border: none !important;
  border-bottom-color: transparent;
  border-radius:none !important;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: none !important;
  border-radius:none !important;
  text-transform:uppercase;
  font-size:16px;
}

.social-login{
  text-align:center;
  font-size:12px;
}
.social-login p{
  margin:15px 0;
}
.social-login ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.social-login ul li{
  width:33%;
  float:left;
  clear:fix;
}
.social-login ul li a{
  font-size:13px;
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  display:block;
}
.social-login ul li:nth-child(1) a{
  background:#3b5998;
}
.social-login ul li:nth-child(2) a{
  background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
  background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
  font-size:13px;
  padding:10px;
  border:1px solid#ccc;
  outline:none;
  width:100%;
  margin:8px 0;

}
.sa-innate-form input[type=submit]{
  border:1px solid#e64b3b;
  background:#e64b3b;
  color:#fff;
  padding:10px 25px;
  font-size:14px;
  margin-top:5px;
}
.sa-innate-form input[type=submit]:hover{
  border:1px solid#db3b2b;
  background:#db3b2b;
  color:#fff;
}

.sa-innate-form button{
  border:1px solid#e64b3b;
  background:#e64b3b;
  color:#fff;
  padding:10px 25px;
  font-size:14px;
  margin-top:5px;
}
.sa-innate-form button:hover{
  border:1px solid#db3b2b;
  background:#db3b2b;
  color:#fff;
}
.sa-innate-form p{
  font-size:13px;
  padding-top:10px;
}

.js_enabled #cookie-message {
  display: none;
}